.logo img {
  width: 100px;
}
header .row{
  background-color: #2e323a;
  padding: 5px;
}
header a {
  color:#feeb53;
  margin: 20px;
  font-size: 20px;
}
header a:hover{
  color:#feeb53;
  margin: 20px;
  padding: 3px;
  font-size: 19px;
}
.menu {
  padding-top: 20px;
}
.validation button {
  background-color: #575652;
  margin-top: 15px;
  color: #feeb53;
  font-size: 20px;
  margin-left: 10px;
}
